@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, #app {
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif; }

.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row-wrap;
  background-color: #f5e797;
  min-height: 100%;
  padding: 20px; }
  .container div:not([class]) {
    width: 100%; }
  .container ul {
    padding: 0;
    list-style-type: none; }

.button {
  background-color: #a2e4f5;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
  max-width: 80%;
  margin: 30px auto 50px auto;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer; }

.media {
  display: flex;
  background-color: #f29c98;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  position: relative;
  left: -100%;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms; }
  .media.transition-in {
    -webkit-transition-tranform: translate(100%);
    -moz-transition-tranform: translate(100%);
    transform: translate(100%); }
  .media img {
    border-radius: 50%; }
  .media .media-content {
    margin-left: 20px; }
    .media .media-content .media-content-header {
      text-transform: capitalize; }
    .media .media-content .media-content-body {
      font-size: 0.8em; }

.loading {
  display: block;
  width: 200px;
  margin: auto; }

.hidden {
  visibility: hidden; }

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }

  ul {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2; } }

/*# sourceMappingURL=main.css.map */
