@import url('https://fonts.googleapis.com/css?family=Montserrat');

$theme-color1: #f29c98;
$theme-color2: #f5b697;
$theme-color3: #f5e797;
$theme-color4: #a2e4f5;



html, body, #app {
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row-wrap;
  background-color: $theme-color3;
  min-height: 100%;
  padding: 20px;
  div:not([class]) {
    width: 100%;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.button {
  background-color: $theme-color4;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
  max-width: 80%;
  margin: 30px auto 50px auto;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.media {
  display: flex;
  background-color: $theme-color1;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 100%;

  //slide in transition
  position: relative;
  left: -100%;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
  &.transition-in {
    -webkit-transition-tranform: translate(100%);
    -moz-transition-tranform: translate(100%);
    transform: translate(100%);
  }

  img {
    border-radius:50%;
  }
  .media-content {
    margin-left: 20px;
    .media-content-header {
      text-transform: capitalize;
    }
    .media-content-body {
      font-size: 0.8em;
    }
  }
}

.loading {
  display: block;
  width: 200px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}


@media (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

  }
  ul {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}
